.baseColor {
  background: #DF0101;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.baseColor1_1 {
  background: #00FF40;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.baseColor2_2 {
  background: #0000FF;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.lighten1 {
  background-color: #fe1a1a;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.darken1 {
  background-color: #b60101;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.lighten1_1 {
  background-color: #38ff6a;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.darken1_1 {
  background-color: #00d636;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.lighten1_2 {
  background-color: #3838ff;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.darken1_2 {
  background-color: #0000d6;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.lighten2 {
  background-color: #fe5252;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.darken2 {
  background-color: #8e0101;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.lighten2_1 {
  background-color: #70ff94;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.darken2_1 {
  background-color: #00ad2c;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.lighten2_2 {
  background-color: #7070ff;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.darken2_2 {
  background-color: #0000ad;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.lighten3 {
  background-color: #fe8a8a;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.darken3 {
  background-color: #650000;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.lighten3_1 {
  background-color: #a8ffbe;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.darken3_1 {
  background-color: #008521;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.lighten3_2 {
  background-color: #a8a8ff;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.darken3_2 {
  background-color: #000085;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.lighten4 {
  background-color: #ffc2c2;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.darken4 {
  background-color: #3d0000;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.lighten4_1 {
  background-color: #e0ffe8;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.darken4_1 {
  background-color: #005c17;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.lighten4_2 {
  background-color: #e0e0ff;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.darken4_2 {
  background-color: #00005c;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.paleta {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px; }
